### Queries to Find Public and Foreign Keys for Each Table

In [14]:
# Remove limit on number of columns shown
import pandas as pd
pd.set_option('display.max_columns', None)

#### PK for Events is VAERS_ID

In [15]:
%%bigquery
select count(*) as count from vaers_staging.Events

   count
0  44344

In [16]:
%%bigquery
select count(VAERS_ID) as count from vaers_staging.Events

   count
0  44344

#### PK for Symptoms is VAERS_ID as well

In [17]:
%%bigquery
select count(*) as count from vaers_staging.Symptoms

   count
0  55260

In [18]:
%%bigquery
select count(VAERS_ID) as count from vaers_staging.Symptoms

   count
0  55260

#### PK for Vaccines is also VAERS_ID

In [19]:
%%bigquery
select count(*) as count from vaers_staging.Vaccines

   count
0  56272

In [20]:
%%bigquery
select count(VAERS_ID) as count from vaers_staging.Vaccines

   count
0  56272

#### FK of Symptoms is VAERS_ID from Events

In [21]:
%%bigquery
select count(*) as count from vaers_staging.Events e left join vaers_staging.Symptoms s on e.VAERS_ID = s.VAERS_ID where e.VAERS_ID is null

   count
0      0

#### FK of Vaccines is VAERS_ID from Events

In [22]:
%%bigquery
select count(*) as count from vaers_staging.Events e left join vaers_staging.Vaccines v on e.VAERS_ID = v.VAERS_ID where e.VAERS_ID is null

   count
0      0

#### FK of Vaccines is also VAERS_ID from Symptoms

In [23]:
%%bigquery
select count(*) as count from vaers_staging.Symptoms s left join vaers_staging.Vaccines v on s.VAERS_ID = v.VAERS_ID where s.VAERS_ID is null

   count
0      0

### All three tables are connected by the VAERS_ID feature