### VAERS Data Analysis

#### Show relationship between number of days spent in hospital and if patient died. As number of days in hospital increases, deaths decrease. View created for Google Data Studio accessibility.

In [20]:
%%bigquery
create or replace view vaers_modeled.v_hosp_deaths as
select HOSPDAYS, count(DIED) as num_died
from `studied-brand-266702.vaers_modeled.Adverse_Event_Beam_DF`
group by HOSPDAYS
having HOSPDAYS <= 20
order by HOSPDAYS

Empty DataFrame
Columns: []
Index: []

In [22]:
%%bigquery
select HOSPDAYS, count(DIED) as num_died
from vaers_modeled.Adverse_Event_Beam_DF
group by HOSPDAYS
having HOSPDAYS <= 20
order by HOSPDAYS

    HOSPDAYS  num_died
0          1       189
1          2       178
2          3       129
3          4        87
4          5        69
5          6        33
6          7        38
7          8        24
8          9        14
9         10        14
10        11        15
11        12         8
12        13         5
13        14         9
14        15         5
15        16         3
16        17         1
17        18         3
18        19         6
19        20         5

#### Join Vaccine table with Adverse_Events table (with Vaccination table as bridge) and look at how many deaths reported for each vaccine name. Top 20 shown for space.

In [11]:
%%bigquery
select v.VAX_NAME, count(e.DIED) as num_died
from vaers_modeled.Vaccine v join vaers_modeled.Vaccination_Beam_DF vax
on v.VAX_ID = vax.VAX_ID
join vaers_modeled.Adverse_Event_Beam_DF e on vax.VAERS_ID = e.VAERS_ID
group by v.VAX_NAME
order by num_died desc
limit 20

                                           VAX_NAME  num_died
0                                 ZOSTER (SHINGRIX)     15109
1                                PNEUMO (PNEUMOVAX)      2896
2                                PNEUMO (PREVNAR13)      2231
3                MEASLES + MUMPS + RUBELLA (MMR II)      2229
4                               VARICELLA (VARIVAX)      2063
5                                  HPV (GARDASIL 9)      2039
6          INFLUENZA (SEASONAL) (FLUZONE HIGH-DOSE)      1996
7       INFLUENZA (SEASONAL) (FLUZONE QUADRIVALENT)      1850
8                            ZOSTER LIVE (ZOSTAVAX)      1652
9   MEASLES + MUMPS + RUBELLA + VARICELLA (PROQUAD)      1470
10    INFLUENZA (SEASONAL) (FLUCELVAX QUADRIVALENT)      1294
11            VACCINE NOT SPECIFIED (NO BRAND NAME)      1098
12                                    TDAP (ADACEL)      1059
13      INFLUENZA (SEASONAL) (FLUARIX QUADRIVALENT)      1057
14               MENINGOCOCCAL CONJUGATE (MENACTRA)      1028
15                                  TDAP (BOOSTRIX)      1021
16                              ROTAVIRUS (ROTATEQ)       942
17                                    HEP A (VAQTA)       926
18                                   HEP A (HAVRIX)       888
19      INFLUENZA (SEASONAL) (AFLURIA QUADRIVALENT)       795

#### Join Adverse_Events table with Vaccination table and see how many patients visited the ER after receiving vaccinations from a specific organization. Most ER visits stem from Unknown or Private facilities.

In [17]:
%%bigquery
select vax.V_ADMINBY, count(e.ER_VISIT) num_er_visit
from vaers_modeled.Adverse_Event_Beam_DF e join vaers_modeled.Vaccination_Beam_DF vax
on e.VAERS_ID = vax.VAERS_ID
group by vax.V_ADMINBY
order by num_er_visit desc

  V_ADMINBY  num_er_visit
0       UNK         17386
1       PVT         15535
2       PHM         15184
3       PUB          3070
4       OTH          2652
5       MIL           966
6       WRK           770
7       SCH           336
8       SEN            43