### Queries to Find Public and Foreign Keys for Each Table

In [22]:
# Remove limit on number of columns shown
import pandas as pd
pd.set_option('display.max_columns', None)

#### PK for Events Table is VAERS_ID

In [1]:
%%bigquery
select count(*) as count from vaers_staging.Events

   count
0  44344

In [24]:
%%bigquery
select count(distinct VAERS_ID) as count from vaers_staging.Events

   count
0  44344

#### FK of Symptoms Table is VAERS_ID from Events Table

In [25]:
%%bigquery
select count(*) as count 
from vaers_staging.Events e left join vaers_staging.Symptoms s on e.VAERS_ID = s.VAERS_ID 
where e.VAERS_ID is null

   count
0      0

#### FK of Vaccines Table is VAERS_ID from Events Table

In [26]:
%%bigquery
select count(*) as count 
from vaers_staging.Events e left join vaers_staging.Vaccines v on e.VAERS_ID = v.VAERS_ID 
where e.VAERS_ID is null

   count
0      0

### All three tables are connected by the VAERS_ID feature